<HTML>
<HEAD>
    <TITLE>Velocity Demo Application</TITLE>
</HEAD>
<BODY>
    <form action="selection" method="POST" >
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="">
        <br>
        <label for="vehicle">Choose a vehicle:</label>
        <select name="vehicle" onchange="vehicleChange(this)">
        #foreach ($mapEntry in $selection.entrySet())
                <optgroup label="$mapEntry.key">
                    #foreach ($item in $mapEntry.value)
                            <option value="$item">$item</option>
                    #end
        #end
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</BODY>
<script>
    function vehicleChange(select) {
        alert(select.options[select.selectedIndex].text);
    }
</script>
</HTML>